.around{
	display: flex;
	justify-content: space-between;
	color: white;
	font-size: 15px;
	font-weight: 700;
	text-decoration: none;
	
}

.bg-1{
	background-image: url(bg1.jpg);
	margin-top: 15px;
	width: 605px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;

}

.bg-2{
	background-image: url(bg2.jpg);
	margin-top: 15px;
	width: 605px;
	height: 350px;
	background-repeat: no-repeat;
	background-size: cover;
}

.bg-text{
	margin-left: 40px;
}


.cards-holder{
	display: flex;
	justify-content: center;
	margin-top: 100px;
}

.card{
	width: 33%;
	box-shadow: 10px 10px 40px 20px #0000001A;
	margin-right: 20px;


}

 .card-image{
	display: flex;
	justify-content: center;
 }

 .card-title{
	display: flex;
	justify-content: center;
    
 }


 .bmw{
	margin-top: 100px;
 }


 

.card-around-button{

	background-color:rgb(245, 246, 248);
	padding: 14px 27px;
	color: rgb(0, 0, 0);
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}

.card-around-button:hover{
	background-color: rgb(146, 147, 150);
}
